<!-- our features -->
<div class="our-features-box hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box first">
                    <i class="icon-plane icons"></i>
                    <div class="content">
                        <h6>Envios rapidos</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box">
                    <i class="icon-earphones-alt icons"></i>
                    <div class="content">
                        <h6>Soporte por chat, correo y telefono</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box">
                    <i class="icon-like icons"></i>
                    <div class="content">
                        <h6>Satisfaccion garantizada</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box last">
                    <i class="icon-tag icons"></i>
                    <div class="content">
                        <h6>Descuentos y promociones</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JTV Home Slider -->
<div class="jtv-slideshow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div id='jtv-rev_slider_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                    <div id='jtv-rev_slider' class='rev_slider fullwidthabanner'>
                        <ul>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@Url.Content("~/Content/Image/Etiketas/Slider/slide-img-0.png")'>
                                <img src="@Url.Content("~/Content/Image/Etiketas/Slider/slide-img-0.png")" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                            </li>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@Url.Content("~/Content/Image/Etiketas/Slider/slide-img1.jpg")'>
                                <img src="@Url.Content("~/Content/Image/Etiketas/Slider/slide-img1.jpg")" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                            </li>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@Url.Content("~/Content/Image/Etiketas/Slider/slide-img2.jpg")'>
                                <img src="@Url.Content("~/Content/Image/Etiketas/Slider/slide-img2.jpg")" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                            </li>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@Url.Content("~/Content/Image/Etiketas/Slider/slide-img3.jpg")'>
                                <img src="@Url.Content("~/Content/Image/Etiketas/Slider/slide-img3.jpg")" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end JTV Home Slider -->
        </div>
    </div>
</div>

<div class="jtv-top-banner">
    <div class="container">
        <div class="imgbox">
            <img src="@Url.Content("~/Content/Image/Etiketas/Art/decora.png")" alt="Decora">
        </div>
        <div class="jtv-cont-box">
            <h3><br>Diferencia</h3>
            <div class="jtv-line-bg"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="imgbox">
            <img src="@Url.Content("~/Content/Image/Etiketas/Art/organiza.png")" alt="Organiza">
        </div>
        <div class="jtv-cont-box2">
            <h3><br>Decora</h3>
            <div class="jtv-line-bg"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="imgbox">
            <img src="@Url.Content("~/Content/Image/Etiketas/Art/diferencia.png")" alt="Diferencia">
        </div>
        <div class="jtv-cont-box3">
            <h3><br>Organiza</h3>
            <div class="jtv-line-bg"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
    </div>
</div>

<div class="jtv-testimonial-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-wow-delay="0.2s">
                <div class="block-title">
                    <h3>¿Que dicen nuestros clientes?</h3>
                </div>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0">
                            <img class="img-responsive " src="@Url.Content("~/Content/Image/Etiketas/Art/testimonio1.png")" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1">
                            <img class="img-responsive" src="@Url.Content("~/Content/Image/Etiketas/Art/testimonio2.png")" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2" class="active">
                            <img class="img-responsive" src="@Url.Content("~/Content/Image/Etiketas/Art/testimonio3.png")" alt="">
                        </li>
                    </ol>
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <!-- Quote 1 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !
                                        </p>
                                        <div class="holder-info">
                                            <strong class="name">Amalia Viquez</strong>
                                        </div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        </p>
                                        <div class="holder-info">
                                            <strong class="name">Rosa Rodriguez</strong>
                                        </div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .
                                        </p>
                                        <div class="holder-info">
                                            <strong class="name">Rodolfo Vega</strong>
                                        </div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


