@model App.Etiketarte.Model.Forma

<section class="main-container col-md-9">
    <div>
        <div class="page-title">
            <h1>Detalle de forma</h1>
        </div>
        <div class="box">
            <div class="form-group form-theme">
                @Html.Label("Forma", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ShowImage(Model.Path, Model.FormaSplits.ToArray())
            </div>
            <div class="form-group form-theme upload-div">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DetailFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group form-theme">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DetailFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group form-theme">
                <div class="checkbox">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DisplayFor(model => model.Estado)
                </div>
            </div>
            <div class="form-group form-theme">
                <div class="form-actions">
                    @Html.BackAction("Index")
                </div>
            </div>
        </div>
    </div>
</section>