@model App.Etiketarte.Model.Producto

<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-title">
            <h1>Editar producto</h1>
        </div>
        <div class="box">
            @using (Html.BeginForm("Edit", "Producto", new { area = "Etiketas" }, FormMethod.Post, new { autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group form-theme">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "input form-control capitalize" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-theme">
                    @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "input form-control upper-case" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-theme">
                    <div class="checkbox">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Estado)
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.HiddenFor(model => model.IdProducto)
                    @Html.HiddenFor(model => model.RowVersion)
                </div>
                <div class="form-group form-theme">
                    <div class="form-actions">
                        @Html.BtnModify()
                        @Html.BackAction("Index")
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $('form').change(function () {
            if (!$('input:hidden[value=' + $(this).prop('name') + ']').length) {
                console.log('change if');
                $('#region').append('<input type="hidden" name="ModifiedProperties" value="' + $(this).prop('name') + '" >');
            }
        })
    </script>
}

@*@Html.Menu()*@