@model IEnumerable<App.Etiketarte.UI.Areas.Etiketas.Models.ViewModels.VmArteForma>

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style/Etiketas/previsualizacion.css")" />
}

<h2>ArteForma</h2>

<section class="main-container col-md-9">
    <div>
        <div class="control">
            @Html.AddAction("CreateArteForma", new { id = @ViewBag.idConfEtiketa })
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreConfEtiketa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreEtiketa)
                <th>
                    @Html.DisplayName("Forma")
                </th>
                <th>
                    @Html.DisplayName("Diseño")
                </th>
                <th>
                    @Html.DisplayName("Tipografias")
                </th>
                <th>
                    @Html.DisplayName("Colores")
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreConfEtiketa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEtiketa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormaCodigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @foreach (var tipo in item.Tipografias)
                        {
                            <p class="font-@tipo.Nombre.ToLower()">@tipo.Nombre</p>
                        }
                    </td>
                    <td>
                        @foreach (var color in item.Colors)
                        {
                            <div class="show-color-row">
                                <img class="show-color" style="background-color: @color.Hexadecimal;" />
                            </div>
                        }
                    </td>
                    <td>
                        @Html.EditAction("EditArteForma", "ConfEtiketa", new { id = item.IdArteForma })
                        @Html.DetailAction("DetailsArteForma", "ConfEtiketa", new { id = item.IdArteForma })
                        @Html.DeleteAction("DeleteArteForma", "ConfEtiketa", new { id = item.IdArteForma })
                    </td>
                </tr>
            }
        </table>
        <div class="form-group form-theme">
            <div class="form-actions">
                @Html.BackAction("Index")
            </div>
        </div>
    </div>
</section>