@model App.Etiketarte.UI.Areas.Etiketas.Models.ViewModels.VmConfEtiketa

<section class="main-container col-md-9">
    <div>
        <div class="page-title">
            <h1>Detalle de Configuracion Etiketa</h1>
        </div>
        <div class="box">
            <div class="form-group form-theme">
                @Html.LabelFor(model => model.NombreEtiketa, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DetailFor(model => model.NombreEtiketa, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group form-theme">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DetailFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group form-theme">
                <div class="checkbox">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DisplayFor(model => model.Estado)
                </div>
            </div>
            <div class="form-group form-theme">
                <div class="form-actions">
                   @Html.BackAction("Index")
                </div>
            </div>
        </div>
    </div>
</section>