@model IEnumerable<App.Etiketarte.Model.Logo>

<h2>Logos</h2>

<section class="main-container col-md-9">
    <div>
        <div class="control">
            @Html.ActionLink("Agregar nuevo", "Create")
        </div>
        <table class="table table-bordered table-responsive jtv-cart-summary">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.IdLogo)</td>
                    <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                    <td class="fila-centrada">@Html.DisplayNameFor(model => model.Estado)</td>
                    <td class="fila-centrada">Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdLogo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td class="fila-centrada">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="fila-centrada">
                            @Html.ActionLink("Edit", "Edit", new { id = Html.Slug(item.IdLogo, item.Nombre) }) |
                            @Html.ActionLink("Details", "Details", new { id = Html.Slug(item.IdLogo, item.Nombre) }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Html.Slug(item.IdLogo, item.Nombre) })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>