@model App.Etiketarte.Model.Color

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Etiketas/bootstrap-colorpicker.min.css" />
}

<section class="main-container col-md-9">
    <div>
        <div class="page-title">
            <h1>Editar Color</h1>
        </div>
        <div class="box">
            @using (Html.BeginForm("Edit", "Color", new { area = "Etiketas" }, FormMethod.Post, new { autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group form-theme">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "input form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-theme flex-column">
                    @Html.LabelFor(model => model.Hexadecimal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div id="cpicker" class="input-group color-picker-component">
                        @Html.EditorFor(model => model.Hexadecimal, new { htmlAttributes = new { @class = "input form-control" } })
                        <span class="input-group-addon"><i></i></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Hexadecimal, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-theme">
                    <div class="checkbox">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Estado)
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.HiddenFor(model => model.IdColor)
                    @Html.HiddenFor(model => model.RowVersion)
                </div><div class="form-group form-theme">
                    <div class="form-actions">
                        @Html.BtnModify()
                        @Html.BackAction("Index")
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/Etiketas/colorpicker/bootstrap-colorpicker.min.js"></script>

    <script>
        $(function () {
            $('#cpicker').colorpicker({
                format: 'hex'
            });
        });
    </script>
}
