@model IEnumerable<App.Etiketarte.Model.Color>

<h2>Colores</h2>

<section class="main-container col-md-9">
    <div>
        <div class="control">
            @Html.AddAction("Create")
        </div>
        <table class="table table-bordered table-responsive jtv-cart-summary">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                    <td class="fila-centrada">Color</td>
                    <td class="fila-centrada">@Html.DisplayNameFor(model => model.Estado)</td>
                    <td class="fila-centrada">Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td class="fila-centrada">
                            <div class="show-color" style="background-color: @item.Hexadecimal;"></div>
                        </td>
                        <td class="fila-centrada">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="fila-centrada">
                            @Html.EditAction("Edit", "Color", new { id = Html.Slug(item.IdColor, item.Nombre) })
                            @Html.DetailAction("Details", "Color", new { id = Html.Slug(item.IdColor, item.Nombre) })
                            @Html.DeleteAction("Delete", "Color", new { id = Html.Slug(item.IdColor, item.Nombre) })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>