@model IEnumerable<App.Etiketarte.Model.Oferta>

<h2>Ofertas</h2>

<section class="main-container col-md-9">
    <div>
        <div class="control">
            @Html.AddAction("Create")
        </div>
        <table class="table table-bordered table-responsive jtv-cart-summary">
            <thead>
                <tr>
                    <td class="fila-centrada">
                        @Html.DisplayNameFor(model => model.Codigo)
                    </td>
                    <td class="fila-centrada">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </td>
                    <td class="fila-centrada">
                        @Html.DisplayNameFor(model => model.Precio)
                    </td>
                    <td class="fila-centrada">
                        @Html.DisplayNameFor(model => model.Estado)
                    </td>
                    <td class="fila-centrada">Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td class="fila-centrada">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td class="fila-centrada">
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td class="fila-centrada">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="fila-centrada">
                            @Html.ConfigurationAction("ConfigOferta", "Oferta", new { id = item.IdOferta })
                            @Html.EditAction("Edit", "Oferta", new { id = item.IdOferta })
                            @Html.DetailAction("Details", "Oferta", new { id = item.IdOferta })
                            @Html.DeleteAction("Delete", "Oferta", new { id = item.IdOferta })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>